html,
body {
    /* height: 100%; */
    max-width: 100%;
}

#nav-tabs {
    z-index: 1000;
    font-family: 'Poppins', sans-serif;

}

#portfolio-intro {
    background-image: radial-gradient(rgb(85, 116, 255), midnightblue);
    /* background-color: midnightblue; */
    padding: 5vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

}

#portfolio-content {}

.portfolio-section {
    height: 100vh;
    padding: 10px;
    overflow: hidden;
}

.portfolio-section-content {
    /* margin: auto; */
}

.section-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.brand-icon {
    width: 75px;
}

#headshot {
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

#bio {
    font-size: 1.2rem;
}

#projects {
    background-image: radial-gradient(#FBFBFF, #a9cff4);
}

#about {
    background-image: url("../media/about-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

}

#contact {
    background-image: radial-gradient(#036e8b, #004e64);
    height: auto;
}

#projects {
    height: auto;
}

#contact-title {
    color: white;
}

#email {
    color: white;
    font-size: 1.2rem;
}

#projects-title {
    color: black
}

#greeting {
    color: white;
    /* Necessary for centering elements */
    margin: auto;
}

.center-content {
    /* Necessary for centering elements */
    margin: auto;
}

.highlighted {
    color: rgb(124, 245, 204);
    text-shadow: rgb(138, 211, 187) 1px 0 10px;

}

#goToAbout {
    display: inline-block;
    margin: auto;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.about:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;

    content: "\f0eb";
}

.send:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1d8";
}

#goToAbout:hover .about:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0eb";
}

/* Customized Tabs CSS */
.tabs .tab a {
    color: white;
    font-weight: bold;
}

/*Text color on hover*/
.tabs .tab a:hover {
    background-color: #00A5cf;
    color: white;
}


.tabs .tab a.active {
    background-color: #036e8b;
    color: white;
    border-bottom: 2px solid rgb(124, 245, 204);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: #036e8b;
    outline: none;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    /* background-color:rgb(124, 245, 204); */
    background-color: transparent;
    /* hiding indicator from view */

}

input,
textarea {
    color: white;
}

/* label color */
.input-field label {
    color: rgb(124, 245, 204);
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: rgb(124, 245, 204);
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

footer {
    border-top: 1px solid #78909c;
}

#copyright {
    color: rgb(124, 245, 204);
}

#footer-name {
    color: #90a4ae;
}

.footer-icon {
    border-radius: 25%;
    padding: 15px;
    background-color: #607d8b;
    margin: 15px;
}

.footer-icon:hover {
    background-color: rgb(124, 245, 204);
    /* -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1); */
}

a {
    text-decoration: none;
    color: inherit;
}

.card .card-title {
    font-weight: 400;
}

.card .card-image .card-title {
    color: white;
}

.card .card-content p {
    margin-top: 10px;
}

/* Customized Flowheaders */
@media only screen and (max-width: 360px) {
    h3.flow-text {
        font-size: 1.2rem;
    }
}

.github-block {
    display: block;
    margin: 0.5em 0
}